@font-face {
	font-family: 'Conv_TTCommons-Regular';
	src: url('fonts/TTCommons-Regular.eot');
	src: local('☺'), url('fonts/TTCommons-Regular.woff') format('woff'), url('fonts/TTCommons-Regular.ttf') format('truetype'), url('fonts/TTCommons-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_TTCommons-Medium';
	src: url('fonts/TTCommons-Medium.eot');
	src: local('☺'), url('fonts/TTCommons-Medium.woff') format('woff'), url('fonts/TTCommons-Medium.ttf') format('truetype'), url('fonts/TTCommons-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


#moncon-block {
  display:none;
  font-family: 'Conv_TTCommons-Regular', Sans-Serif;
  position: absolute;
  top: 20%;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

#moncon-block button {
  cursor: pointer;
  background: #000;
  border-color: #000;
  color: #fff;
  border-radius: 40px;
  padding: 10px;
}

#moncon-wrapper {
  position: absolute;
  left: 50%;
  top: 100px;
  z-index: 1000;
}

#moncon-content {
  position: relative;
  display: block;
  left: -50%;
  width: 500px;
  padding: 30px 15px;
  
  background: white;
  
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow: 3px 3px 5px #535353;
  
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}

#moncon-step1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* To align img vertically: https://stackoverflow.com/a/7310398/2803190 */
#moncon-step1-logo {
  height: 40px;
}

#moncon-step1-logo span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#moncon-step1-logo img {
  vertical-align: middle;
  max-height: 40px;
}

#moncon-step1-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

#moncon-step1-description {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

#moncon-step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* To align img vertically: https://stackoverflow.com/a/7310398/2803190 */
#moncon-step2-logo {
  height: 40px;
  margin-bottom: 20px;
}

#moncon-step2-logo span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#moncon-step2-logo img {
  vertical-align: middle;
  max-height: 40px;
}

/* To align img vertically: https://stackoverflow.com/a/7310398/2803190 */
#moncon-step2-image {
  height: 80px;
}

#moncon-step2-image span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#moncon-step2-image img {
  vertical-align: middle;
  max-height: 80px;
}

#moncon-step2-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

#moncon-step2-description {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

#moncon-step-login-buttons {
  width: 70%;
}

#moncon-step-login-button-facebook {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background: #295b94 !important;
  border-color: #295b94 !important;
}

#moncon-step-login-button-google {
  display: block;
  width: 100%;
  background: #008ceb !important;
  border-color: #008ceb !important;
}

#moncon-step-payment {
  text-align: center;
}

#moncon-step-payment-logo {
  height: 40px;
  text-align: center;
}

#moncon-step-payment-logo span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#moncon-step-payment-logo img {
  vertical-align: middle;
  max-height: 40px;
}

#moncon-step-payment-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

#moncon-step-payment-card {
  padding: 20px;
}

#moncon-button-payment {
  margin-top: 20px;
  min-width: 200px;
}

#moncon-step3 {
  display: flex;
  flex-direction: column;
}

#moncon-step3-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#moncon-step3-header-premium {
  font-weight: bold;
}

#moncon-step3-header-premium img {
  height: 20px;
  margin-right: 10px;
}

#moncon-step3-header-user {
  font-size: 0.7em;
}

#moncon-step3-header-user img {
  max-height: 25px;
  border-radius: 50%;
  margin-left: 10px;
}

/* To align img vertically: https://stackoverflow.com/a/7310398/2803190 */
#moncon-step3-logo {
  height: 80px;
  margin: 0 auto;
}

#moncon-step3-logo span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#moncon-step3-logo img {
  vertical-align: middle;
  max-height: 40px;
}

#moncon-step3-text {
  font-size: 0.8em;
  margin: 0 auto 30px;
}

#moncon-step3-button {
  margin: 0 auto 30px;
}

