@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';

@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@responsive {
    .rtl {
        direction: rtl;
    }
}


[x-cloak] {
    display: none;
}


.responsive-iframe {
  position: absolute;
  margin-top: 230px;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1400px;
  border: none;

}

.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.rbc-calendar {
  height: 100%;
}

.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 1120px;
  max-width: 800px;
  outline: none;
  padding: 10px;
}

.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: 0px solid gray !important;
}

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
    bottom: 25px;
    padding: 10px;
  
    left: 25px;
}


